body {
    margin: 0;
    text-align: center;
}

.fanhui {
    margin: 20px;
    font-size: 14px;
    font-weight: bold;
    width: 45px;
    cursor: pointer;
}

#clipArea {
    margin: 20px;
    height: 300px;
}

#view {
    margin: 0 auto;
    width: 200px;
    height: 200px;
}